{
    "extends": ["eslint:recommended", "ionic", "plugin:angular/johnpapa", "airbnb-base"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1, "outerIIFEBody": 1 }],
        "no-param-reassign": [1],
        "no-console": 1,
        "angular/controller-name": [2,"/[A-Z].*Ctrl/"],
        "angular/controller-as": 1,
        "valid-jsdoc": 0,
        "linebreak-style": 0,
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "radix": ["error", "as-needed"]
    },
    "globals": {
        "angular": true,
        "cordova": true,
        "device": true,
        "ble": true,
        "FileTransfer": true,
        "FileTransferError": true,
        "zip": true
    }
}
